onebusaway-quickstart

  We have a quick-start distribution designed to get you quickly up and running with OneBusAway.  This can be a good way to evaluate OneBusAway without getting bogged down in more complex deployment scenarios. 
  
  <<Current Version:>> ${currentVersion}
  
  This quick-start guide is targeted to OneBusAway Version ${onebusaway_version}
  
  To get started, follow these instructions:
  
Quickest-Start

  At a high level, you'll need the OneBusAway quick-start distribution and a {{{http://code.google.com/transit/spec/transit_feed_specification.html} GTFS}} feed of transit data for your transit agency.  We'll use the OneBusAway quick-start app to build a transit data bundle, an optimized bundle of data built on top of the raw transit data designed to power the OneBusAway apps.  Once built, we spin up the most common webapps using the bundle.
  
  # Download {{{http://nexus.onebusaway.org/content/repositories/public/org/onebusaway/onebusaway-quickstart-assembly/${currentVersion}/onebusaway-quickstart-assembly-${currentVersion}.war}onebusaway-quickstart-assembly.war}}
  # Make sure you have downloaded the {{{http://code.google.com/transit/spec/transit_feed_specification.html} GTFS}} for your transit agency
  # Run <<<java -jar onebusaway-quickstart-assembly.war -build path/to/your/gtfs.zip path/to/created-transit-bundle>>>
  # Run <<< java -jar onebusaway-quickstart-assembly.war -webapp path/to/created-transit-bundle>>>
  # Once the webapp has finished startup, browse to {{{http://localhost:8080/}}}